.itemCount{
    background-color: #1a0551;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    &__btn{
        all: unset;
        cursor: pointer;
        background-color: #1a0551;
        color: white;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        &:hover{
            background-color: #35148a;
        }
        &:active{
            background-color: #1a0551;
        }
    }
    &__count{
        display: flex;
        color: white;
        width: fit-content;
        min-width: 2em;
        height: 2em;
        justify-content: center;
        align-items: center;
    }
}